.places {
    margin:  0 0;
    display: grid;
    gap:  80px;
  }
/* 
@media screen and (max-width: 1120px) {
    .place__image {
      width: 440px;
    height: 440px;
    }
  }
  
  @media screen and (max-width: 840px) {
    .place__image {
      width: 340px;
    height: 340px;
    }
  }
  */  

  