.header {
  display: flex;
  justify-content: space-between;
  margin: 0 48px;
  max-width: 1184px;
}

 @media screen and (max-width: 540px) {
  .header {
    margin: 16px 16px 40px 16px;
  }
} 