.intro__text {
  max-width: 690px;
  max-height: 208px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 40px 0 33px;
  padding: 0;
}

@media screen and (max-width: 700px) {
    .intro__text {
      max-width: 288px;
      max-height: 520px;
    }
  
  } 