.place__website {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-end;
    grid-area: website;
}

@media screen and (max-width: 700px) {
  .place__website {
    margin-left: 16px;
    max-height: 46px;
  }
}